body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.LoginBody {
    width: 100%;
    max-width: 720px;
}

form {
    display: grid;
    row-gap: 10px;
    width: 100%;
    max-width: 720px;
}

form .loginHead {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .loginHead .line {
    width: 33%;
    height: 0px;
    outline: 1px solid white;
}

form .loginHead h1 {
    width: 33%;
}
